@model List<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";//"_Layout";
}

<h1>@ViewData["Title"]</h1>

@foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaBase" model="asignatura"/>    
}


<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewData["CosaDinamica"]</i></p>
<p><i>@ViewData["Fecha"]</i></p>

